@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto:400,700&display=swap&subset=cyrillic');

$primary: #fd8787;
$secondary: #76d6d6;
$secondary-light: #d6f1f5;
$black: #262322;
$grey: #4a4a48;

@mixin cardy() {
  padding: 0.5rem;

  border: solid 1px lighten($grey, 50%);
  border-radius: 0.25rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;

  color: $black;
}

*,
*::before,
*::after {
  color: inherit;
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  outline: none;

  @include cardy();
}

button {
  width: max-content;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  color: $grey;
  font-size: 1rem;

  cursor: pointer;
  background: lighten($primary, 20%);
  transition: all 0.16s;
}

button:hover {
  color: #ffffff;
  background: $primary;
}

button:active {
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.4);
}

body {
  min-height: 100vh;
}

.header {
  height: 3rem;

  padding: 0 4rem;
  display: flex;
  align-items: center;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

  &__logo {
    width: 6.5rem;
    height: 2rem;

    padding: 0 0.25rem;
    display: flex;
    justify-content: start;
    align-items: center;

    color: #000000;
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-shadow: 1px 1px 1px $secondary-light;
    text-decoration: none;

    background-color: lighten($primary, 10%);
    @include cardy();
    border-color: lighten($grey, 25%);

    transition: width 0.16s;

    &:hover {
      width: 8.5rem;
    }
  }
}

.main {
  height: 100%;
  margin-top: 1rem;

  padding: 1rem 6rem;
  display: grid;
  grid:
    'top-bar top-bar' 4rem
    '... ...' /
    minmax(20rem, 40rem) minmax(10rem, 25rem);
  align-items: start;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.top-bar {
  grid-area: top-bar;
  height: 100%;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  @include cardy();

  &__title {
    width: 100%;
    text-align: center;
  }

  &__elem {
    min-width: 3rem;
    max-width: 10rem;
    overflow: hidden;

    & + & {
      margin-left: 0.5rem;
    }

    &__name {
      color: lighten($grey, 30%);
    }

    &__value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.to-race {
  grid-column: span 2;
  justify-self: center;
  margin-top: 4rem;

  width: 20rem;
  @include cardy();
  align-self: center;

  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;

  background: lighten($primary, 23%);
  transform: translateY(0);
  transition: all 0.16s;

  &:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}

.login-form {
  grid-column: span 2;
  justify-self: center;
  width: 20rem;

  padding: 0.5rem 0;
  display: grid;
  grid-auto-flow: row;
  justify-items: end;
  row-gap: 0.5rem;

  border-radius: 0.5rem;

  > input {
    width: 100%;
  }
}

.columns {
  display: contents;
  width: 100%;
  height: 100%;

  > * {
    height: fit-content;
  }
}

.track {
  max-width: 40rem;
  margin: 0;

  padding: 0.5rem;

  font-size: 1.3rem;

  @include cardy();

  animation: fade-in 0.5s 1;

  &__completed {
    position: relative;
    background-color: lighten($primary, 5%);

    animation: blinking 1s 500ms alternate infinite;
  }
}

.players {
  width: 100%;

  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  overflow-y: auto;

  background-color: $secondary-light;
  @include cardy();
}

.player {
  position: relative;
  padding: 0.5rem;

  background: lighten($secondary-light, 6%);
  @include cardy();

  transition: opacity 0.16s;

  & + & {
    margin-top: 0.5rem;
  }

  &--self {
    background: #ffffff;

    &::before {
      content: '🏎️';
      position: absolute;
      top: 0;
      left: 0;

      height: 1.4rem;
      width: 1.4rem;

      @include cardy();
      border-radius: 50%;
      padding: 0;
      padding-bottom: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.4rem;
      font-size: 0.9rem;

      background: #ffffff;

      transform: translate(-30%, -30%);
    }
  }

  &--disconnected {
    opacity: 0.5;
  }

  &__name {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    align-items: baseline;
  }

  &__progress {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-top: 0.2rem;

    &::-webkit-progress-bar {
      background-color: #ffffff;
      @include cardy();
      padding: 0;
      box-shadow: none;
    }

    &::-webkit-progress-value {
      margin-left: -0.2px;
      height: 101%;

      background-color: $primary;
      border-radius: 0.15rem 0 0 0.15rem;
      border-right: 3px solid lighten($grey, 20%);
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 2px 1px 2px -1px rgba(0, 0, 0, 0.2);

      transition: all 0.16s;
    }
  }
}

.countdown {
  margin: 0;
  height: 5rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  @include cardy();
  animation: fade-in 0.5s 1;
}

#commentator {
  flex: 1 0;
  max-width: unset;

  display: grid;
  grid:
    'name avatar' auto
    'phrase avatar' 1fr /
    1fr 2.5rem;

  justify-items: end;
  align-items: center;
  column-gap: 0.5rem;

  justify-self: flex-end;

  &__name {
    grid-area: name;
  }

  &__value {
    grid-area: phrase;

    > * {
      animation: fade-in 0.3s 1;
    }
  }

  &__avatar {
    grid-area: avatar;

    transform: rotateY(180deg);
  }
}

@keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blinking {

  from {
    background-color: lighten($primary, 5%);
  }

  to {
    background-color: lighten($primary, 15%);
  }
}
