@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto:400,700&display=swap&subset=cyrillic');

html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
